1.      Загрузить датасет, подготовить датасет, выполнить исследование и отбор признаков. Обучить два Байесовских классификатора. Выполнить прогноз на проверочных данных.
Датасет: 10_fire_dataset_bin.xlsx
данные о лесных пожарах.
Целевая переменная - area

In [1]:
import pandas as pd
from zipfile import ZipFile

In [3]:
with pd.ExcelFile(ZipFile("../data/10_fire_dataset_bin.zip", 'r').open("10_fire_dataset_bin.xlsx")) as xl_file:
    df = pd.read_excel(io=xl_file, sheet_name="fire_dataset_bin", index_col=0)

In [7]:
df.describe()

,area,lon,lat,Dist_str,Dist_railw,Dist_car,T,Po,P,Pa,U,Ff,VV,Td
count,8166.000000,8166.000000,8166.000000,8166.000000,8166.000000,8166.000000,8166.000000,8166.000000,8166.000000,8166.000000,8166.000000,8166.000000,8166.000000,8166.000000
mean,0.051678,2.611662,2.745962,1902.796763,869.270501,30.162300,5.469949,750.730541,763.665711,0.011254,69.344722,1.891134,9.440546,-0.732648
std,0.221389,11.190458,11.764578,10783.521134,4721.993706,178.232637,11.845542,7.528750,7.882456,0.974373,20.822901,1.025589,2.467542,9.151439
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-23.800000,725.600000,738.600000,-22.000000,12.000000,0.000000,0.200000,-26.200000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.000000,745.900000,758.500000,-0.500000,54.000000,1.000000,10.000000,-7.500000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.800000,750.800000,763.600000,0.000000,74.000000,2.000000,10.000000,-0.800000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000,755.400000,768.700000,0.500000,87.000000,3.000000,10.000000,6.600000
max,1.000000,52.419154,54.624496,139339.388668,53919.346006,3065.928510,36.100000,777.000000,790.900000,25.200000,100.000000,7.000000,50.000000,20.200000