1.      Загрузить датасет, обучить модель коллаборативной фильтрации, проверить работу модели, написать выводы.
Датасет:31_rating_electroincs.zip
датасет с отзывами и информацией о купленных товарах в магазине электроники

2.      Загрузить датасет, обучить модель Content based фильтрации, проверить работу модели, написать выводы.
Датасет: 31_rating_electroincs.zip
датасет с отзывами и информацией о купленных товарах в магазине электроники

3.      Загрузить датасет, обучить модель Similarity based фильтрации, проверить работу модели, написать выводы.
Датасет:31_rating_electroincs.zip
датасет с отзывами и информацией о купленных товарах в магазине электроники

4.      Загрузить датасет, выполнить сингулярное разложение, проверить работу модели, написать выводы.
Датасет:31_rating_electroincs.zip
датасет с отзывами и информацией о купленных товарах в магазине электроники

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/ratings_Electronics.csv", header=None)

In [3]:
df

                     0           1  2           3
0        AKM1MP6P0OYPR   132793040  5  1365811200
1       A2CX7LUOHB2NDG   321732944  5  1341100800
2       A2NWSAGRHCP8N5   439886341  1  1367193600
3       A2WNBOD3WNDNKT   439886341  3  1374451200
4       A1GI0U4ZRJA8WN   439886341  1  1334707200
...                ...         ... ..         ...
318568  A2NHWWMFU9RMSV  B0000AJMOI  3  1084320000
318569   AP19JLXMJ4UVT  B0000AJMOI  5  1077494400
318570  A39CWRA8WQRS9V  B0000AJMOI  5  1072483200
318571  A3SG1I2Z6I5SJZ  B0000AJMOI  5  1082505600
318572   APGN8QGF0P5QR  B0000AJMOI  5  1071792000

[318573 rows x 4 columns]